body{
    background-color: white;
}
header{
    image
}
h1{
    font-family: arial;
    font-size:60px;
    text-align:center;
    
}
h2{
    font-family:verdana;
    float: right;
}
h3{
    font-family:verdana;
}
p{
    font-family:verdana;
    float: right;
    }

}
img{
border-color:rgb(7, 7, 7);
    
}